@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 100ms;
}

body {
  color: var(--color-text-light);
  font-size: 15px;
  line-height: 1.4;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: #000000;
  font-weight: 50;
  color: #fff;
}

:root {
  --color-secondary: #302f3d;
  --color-text-light: #d3d3d5;
}

.container {
  max-width: 1220px;
  margin: auto;
}

.main_bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 19px;
  position: fixed;
  border-bottom: 1px solid #d3d3d5;
  background-color: #000000b9;

  padding-top: 30px;
}

.menu_list {
  width: 100%;
  display: flex;
  list-style-type: none;
  align-items: center;
  
  
}
.fa{
  padding: 20px;
}


.menu_link {
  color: var(--color-white);
  font-weight: 300;
  font-size: 1.3em;
  letter-spacing: 0.5px;
  padding: 0.5em;
  text-decoration: none;
  text-align: center;
  margin-right: 10px;
  
}

.menu_link:hover {
  color: chocolate;
}

.section_hero {
  padding: 10em 0;
  border-top: 1px solid #fff;
}

.hero_wrapper {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.7em;
}

.hero_content {
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.1) 0,
    rgba(255, 255, 255, 0.25) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.46);
  padding: 25px 20px;
}

.das_schone {
  width: 80%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-center {
  width: 80%;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
}
p {
  font-size: 17px;
}
.text-center1 {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
}
.imaj {
  display: flex;
  justify-content: center;
}
#oval {
  width: 40%;
  text-align: center;
  margin-top: -80px;
}

.logo{
  width: 100%;
  padding-left: 50px;
}
@media screen and (max-width: 768px) {

  .main_bar {
   
    width: 100%;
    display: flex;  
    flex-direction: column;      
  }

  .menu_list {
    display: flex;
    list-style-type: none;
    align-items: center;
    flex-wrap: wrap; 
    flex-grow: 2;
 
  }
  .hero_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.7em;
  }

}
.faas{
  display: none;
}
.fa-solid{
  padding: 10px;
  font-size: 30px;
}


@media screen and (max-width: 992px) {
  .faas{
    display: flex;
    padding-right: 50px;
    padding-left: 50px;
  }

  .main_bar {
    width: 100%;
    display: flex;  
    flex-direction: column;      
  }

  .menu_list {
    display: flex;
    list-style-type: none;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 3;
  }
  .hero_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.7em;
  }

  #oval {
    width: 20%;
    text-align: center;
    margin-top: -80px;
  }
  .logo{
    width: 100%;
    padding-left: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: row;

}
#fa{
  display: none;
}
}


@media screen and (max-width: 768px) {

  .main_bar {
    width: 100%;
    display: flex;  
    flex-direction: column;      
  }

  .menu_list {
    display: flex;
    list-style-type: none;
    align-items: center;
    flex-wrap: wrap;
  }
  .hero_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.7em;
  }
  #oval {
    width: 20%;
    text-align: center;
    margin-top: -80px;
  }
  #fa{
    display: none;
  }

}
